@font-face {
	font-family: 'Author-Extralight';
	src: url(../fonts/Author-Extralight.woff2) format('woff2'),
	url(../fonts/Author-Extralight.woff) format('woff'),
	url(../fonts/Author-Extralight.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}