@font-face {
	font-family: 'Author-VariableItalic';
	src: url(../fonts/Author-VariableItalic.woff2) format('woff2'),
	url(../fonts/Author-VariableItalic.woff) format('woff'),
	url(../fonts/Author-VariableItalic.ttf) format('truetype');
	font-weight: 200 700;
	font-style: italic;
}