<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the OLX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/font/iconic/css/iconsmind.css">
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap.rtl.only.min.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap-float-label.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
</head>

<body class="background show-spinner no-footer">
<div class="fixed-background">
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side">

                        </div>
                        <div class="form-side">
                            <span class="logo-single"></span>
                            <h6 class="mb-4">Login</h6>
                            <form name="f" method="post">
                                <label class="has-float-label mb-4"><span>USERNAME</span>
                                    <input class="form-control" name="username">

                                </label>

                                <label class="form-group has-float-label mb-4"><span>PASSWORD</span>
                                    <input class="form-control" type="password" id = "userpassword" name = "userpassword" placeholder="">

                                </label>

                                <div id="errormessage"></div>
                                <div class="d-flex justify-content-between align-items-center"><a href="#">Forget password?</a> <button class="btn btn-primary btn-lg btn-shadow" id = "login" type="submit">LOGIN</button></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/dore.script.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/common.js"></script>
<script src="/js/sha1.js"></script>

<footer class="page-footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p class="mb-0 text-muted">OLX CLONE 2021</p>
                </div>

            </div>
        </div>
    </div>
</footer>
</body>

</html>